html {
	margin: 10px;
}

.App {
	text-align: center;
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
		'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.componentContainer {
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 50px;
}

.title {
	margin: 50px;
}

.speech {
	margin: 20px;
}
.results {
	margin-top: 100px;
}

.error {
	color: red;
}

.incorrect {
	color: red;
}

.correct {
	color: blue;
}

.inputDiv {
	margin: 15px;
}
